:root {
  --cell-color: #222243ba;
  --cell-bg-color: #434388;
  --background-color: #151226;
  --key-bg-color: #656780;
  --gray-color: #3d4054;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 700;
}

main {
  border: 1px dotted black;
  max-width: 480px;
  margin: auto;
}

header {
  text-align: center;
  margin: 20px;
}

table.word-matrix {
  /* min-width: 14rem;
  min-height: 16rem; */
  height: min(55vh, 55vw);
  width: min(50vh, 50vw);
  aspect-ratio: 5/6;
  margin: auto;
  border-spacing: 3px;
  margin-bottom: 25px;
}

.word-matrix td {
  font-size: 1.6rem;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border: 2px solid var(--cell-bg-color);
  border-radius: 8px;
  background-color: var(--cell-color);
  color: white;
  text-align: center;
}

table.keyboard {
  width: 100%;
  margin: auto;
  border-spacing: 3px;
}

.keyboard td {
  min-width: 20px;
  aspect-ratio: 3/2;
  color: white;
  border: 2px solid var(--key-bg-color);
  border-radius: 5px;
  background-color: var(--key-bg-color);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  padding: 7px;
}
